[build]
  base = "qumail-frontend"
  publish = "qumail-frontend/dist"
  command = "cd qumail-frontend && npm install && npm run build"

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
