services:
  - type: web
    name: qumail-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: KM1_BASE_URL
        value: https://qumail-kme1-brzq.onrender.com
      - key: KM2_BASE_URL
        value: https://qumail-kme2-brzq.onrender.com
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SECRET_KEY
        generateValue: true
